form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 20px;
  margin-top: 70px;
  justify-content: center;
}
form div {
    text-align: center;
}

form input {
  padding: 0 10px;
  width: 40%;
  border-radius: 20px;
  font-weight: bold;
}
span{
    text-decoration: underline;
}
div button{
    justify-content: center;
}
