* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}
header {
  text-align: center;
}

form {
  margin: 0 auto;
  padding: 10px 20px;
  max-width: 500px;
  max-height: 900px;
  display: block;
}
form div {
  align-items: center;
  padding: 10px;
}
form div select {
  width: 100%;
  padding: 10px 20px 10px;
  transition: 0.4s all;
  border-radius: 20px;
  font-weight: bold;
}
form div select:focus {
  background-color: #a4a4a4;
}
select option {
  text-align: center;
}
form button {
  width: 100px;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.botao {
  text-align: center;
}
.modal-header {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: -30px;
}
#observacao {
  font-size: 10px;
  font-weight: bolder;
}
.link {
  margin-top: -90px;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid red;
  transition: color 0.3s;
}
.link:hover {
  color: black;
  text-decoration: none;
  border: none;
}
.header_modal {
  display: flex;
  align-items: center;
  gap: 110px;
}
.sucesso {
  padding: 0px 10px 0;
  border: 3px solid #a6ffbc;
  background-color: #a6ffbc;
  color: #00bd00;
  border-radius: 10px;
  font-size: 10px;
  text-align: center;
  opacity: 1;
  font-weight: bold;
}

.escondido {
  opacity: 0;
}
#exampleModalLabel {
  border-bottom: 3px solid red;
}
#texto_resposaveis {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: -20px;
  font-size: 18px;
}
ul{
  padding: 30px;
}

